<p id="notice"><%= notice %></p>

<h1 style="text-align:center">Interventions</h1>

<%= form_with do |f| %>
  <div>
  <%= f.select :customer_id, options_for_select(Customer.all.map{ |c| [ c.company_contact_name, c.id ] }), {:include_blank => 'Choose a customer...'} %>
  <br>
  <%= f.grouped_collection_select :building_id, Customer.order(:company_contact_name), :buildings, :company_contact_name, :customer_id, :id, 
    :include_blank => 'Choose a building...'  %>
  <br>
  <%= f.grouped_collection_select :battery_id, Building.order(:id), :batteries, :customer_id, :id, :id, 
    :include_blank => 'Choose a battery...'  %>
  <br>
  <%= f.grouped_collection_select :column_id, Battery.order(:id), :columns, :building_id, :id, :id, 
    :include_blank => 'Choose a column...'  %>
  <br>
  <%= f.grouped_collection_select :elevator_id, Column.order(:id), :elevators, :battery_id, :id, :id, 
    :include_blank => 'Choose an elevator...'  %>
  <br>
</div>
  <div style="margin-top:50px" class="actions"><%= f.submit %></div>
<% end %>